html,
body {
  background-color: #f7a440;
  background-image: -webkit-linear-gradient(90deg, #e1701a 50%, #f7a440 50%);
  min-height: 500px;
  height: 100%;
  margin: 5;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0;
}

button {
  font-family: "Cabin", sans-serif;
  font-size: 1rem;
  margin-right: 65px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 8px;
  border-style: none;
  background-color: #4a403a;
  color: #f7a440;
  touch-action: none;
}

footer {
  position: absolute;
  bottom: 0;
}

h1,
h2 {
  font-family: "Montserrat", sans-serif;
  color: #eeeeee;
}

h1 {
  font-size: 3.25rem;
  margin-top: 0;
}

h3,
p,
.options {
  color: #eeeeee;
  font-family: "Cabin", sans-serif;
}

h3 {
  font-size: 1.75rem;
  margin-top: 3px;
}

p {
  font-size: 1rem;
}

.answer {
  display: flex;
}

.content {
  width: 100%;
  max-width: 480px;
}

.checkbox {
  display: inline-flex;
  border-color: #4a403a;
  cursor: pointer;
  padding: 7px;
  border-radius: 5px;
}

.checkbox > span {
  padding: 0.3rem 1rem;
}

.checkbox > input {
  height: 25px;
  width: 25px;
  appearance: none;
  -webkit-appearance: none;
  border: 1px solid #eeeeee;
  border-radius: 5px;
  outline: none;
  transition-duration: 0.5s;
}

.checkbox > input:checked {
  border: 1px solid #eeeeee;
  background-color: #f7a440;
}

.icon {
  color: #eeeeee;
  padding-left: 10px;
  font-size: 4rem;
}

.options {
  border: 1px solid #eeeeee;
  border-radius: 5px;
  margin-bottom: 15px;
}

.social-icon {
  padding: 7px;
  color: #f7a440;
  text-decoration: none;
  margin-bottom: 5px;
}

.title {
  display: flex;
}

@media screen and (max-width: 480px) {
  .icon {
    font-size: 3.45rem;
  }

  h1 {
    font-size: 2.65rem;
  }

  h3 {
    margin-top: 20px;
  }
}

@media (hover: hover) and (pointer: fine) {
  a:hover {
    opacity: 35%;
  }

  button {
    transition: all 0.5s;
    cursor: pointer;
    width: 100px;
  }

  button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }

  button span:after {
    content: "\2192";
    position: absolute;
    opacity: 0;
    top: 0;
    right: -10px;
    transition: 0.5s;
  }

  button:hover span {
    padding-right: 20px;
  }

  button:hover span:after {
    opacity: 1;
    right: 0;
  }
}
